body {
  font-family: sans-serif;
  background-color: #14213d;
  color: #f1ecdb;
  margin: 5px;
}

canvas {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

header {
  margin: 5px;
  display: flex;
  align-items: center;
}

h2.logo {
  color: #f1ecdb;
  flex-grow: 1;
}

#charts {
}
